.hotsale .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.hotsale .items .product1 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product1 .container {
  margin: 20px;
}
.hotsale .items .product1 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 1 (1).jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product1 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product1 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product1 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product4:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product5:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product6:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product7:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product8:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product2 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product2 .container {
  margin: 20px;
}
.hotsale .items .product2 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product2 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product2 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product2 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product3 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product3 .container {
  margin: 20px;
}
.hotsale .items .product3 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product3 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product3 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product3 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product4 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product4 .container {
  margin: 20px;
}
.hotsale .items .product4 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product4 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product4 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product4 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product5 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product5 .container {
  margin: 20px;
}
.hotsale .items .product5 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 5.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product5 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product5 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product5 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product6 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product6 .container {
  margin: 20px;
}
.hotsale .items .product6 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 6.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product6 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product6 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product6 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product7 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product7 .container {
  margin: 20px;
}
.hotsale .items .product7 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 7.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product7 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product7 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product7 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product8 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product8 .container {
  margin: 20px;
}
.hotsale .items .product8 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 8.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product8 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product8 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product8 .container .info .icons {
  color: #f19caf;
}
.hotsale button {
  background-color: #f19caf;
  border: none;
  width: 170px;
  height: 45px;
  margin-top: 30px;
  color: white;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 500px;
}
.hotsale button:hover {
  background-color: white;
  color: #f19caf;
  border: solid 1px #f19caf;
}