* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0 60px 0 60px;
  background-color: #f8f8f8;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  color: #1c252e;
}

nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  margin-top: -20px;
}
nav .logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/Clipped_image_20230910_202139.png");
  width: 120px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15px;
}
nav .menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
nav li {
  margin-right: 10px;
}
nav .cart {
  margin-top: 20px;
}
nav .cart .fa-cart-shopping {
  color: #7e7e7e;
  width: 20px;
  height: 20px;
}
nav .login {
  margin-left: 5px;
  margin-top: 20px;
}
nav .login .fa-user {
  margin-left: 10px;
  color: #cf6676;
  width: 20px;
  height: 20px;
}
nav a {
  color: #1c252e;
  text-decoration: none;
  padding-right: 30px;
  font-size: 15px;
}
nav a:hover {
  color: #f19caf;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: #f19caf;
}
footer span {
  color: #1c252e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer {
  background-color: #1c252e;
  padding: 70px 0;
}
.footer .container {
  margin-left: 150px;
}
.footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .container .row .footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer .container .row .footer-col h4 {
  color: #f19caf;
}
.footer .container .row .footer-col a {
  color: #7e7e7e;
  text-decoration: none;
}
.footer .container .row .footer-col a:hover {
  color: #f19caf;
}
.footer .container .row .footer-col ul {
  list-style: none;
}

.subscribe {
  height: 50%;
  border-top: solid 1px #7e7e7e;
}
.subscribe .bg-subs {
  padding: 90px 0;
}
.subscribe p {
  text-align: center;
  font-size: 14px;
  padding-bottom: 16px;
  color: #1c252e;
}
.subscribe h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  color: #f19caf;
}
.subscribe .subs-form {
  max-width: 850px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe .subs-form input {
  font-size: 14px;
  line-height: 22px;
  color: #7e7e7e;
  font-weight: 300;
  margin-bottom: 16px;
  padding: 15px 0;
  border: none;
  margin: 0;
  padding-left: 20px;
  border-radius: 30px;
  width: 300px;
}
.subscribe .subs-form button {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  background-color: #f19caf;
  border: 0;
  padding: 12px 25px;
  border-radius: 30px;
  margin-left: -60px;
}

.site-wrapper .hero {
  height: 630px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/heros.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/heros.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-wrapper .hero .callout {
  color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
}
.site-wrapper .hero .callout h1 {
  color: white;
  font-size: 40px;
}
.site-wrapper .hero .callout p {
  color: white;
  font-size: 20px;
}
.site-wrapper .hero .callout button {
  background-color: #f19caf;
  border: none;
  width: 170px;
  height: 40px;
  margin-top: 30px;
  color: white;
  border-radius: 60px;
}
.site-wrapper .hero .callout button:hover {
  background-color: white;
  color: #f19caf;
  border: solid 1px #f19caf;
}

.categories {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.categories .sub-ca1 {
  width: 270px;
  height: 270px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/cosplay.jpeg");
  background-image: linear-gradient(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cosplay.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.categories .sub-ca2 {
  width: 270px;
  height: 270px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/wig.jpg");
  background-image: linear-gradient(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wig.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.categories .sub-ca3 {
  width: 270px;
  height: 270px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/acceso.jpg");
  background-image: linear-gradient(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.5)), url("../images/acceso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.categories .sub-ca4 {
  width: 270px;
  height: 270px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/shoes.jpg");
  background-image: linear-gradient(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.5)), url("../images/shoes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.categories .sub-ca5 {
  width: 270px;
  height: 270px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/props.jpg");
  background-image: linear-gradient(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.5)), url("../images/props.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.categories .sub-ca6 {
  width: 270px;
  height: 270px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/contactl.jpg");
  background-image: linear-gradient(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contactl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.categories p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 115px;
}

.collec {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.collec .of1 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  border-radius: 120px;
  background-image: url("../images/photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.collec .of2 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  border-radius: 120px;
  background-image: url("../images/photo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.collec .of3 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  border-radius: 120px;
  background-image: url("../images/photo3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.collec .of4 {
  width: 250px;
  height: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  border-radius: 120px;
  background-image: url("../images/photo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hotsale .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.hotsale .items .product1 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product1 .container {
  margin: 20px;
}
.hotsale .items .product1 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 1 (1).jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product1 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product1 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product1 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product4:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product5:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product6:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product7:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product8:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hotsale .items .product2 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product2 .container {
  margin: 20px;
}
.hotsale .items .product2 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product2 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product2 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product2 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product3 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product3 .container {
  margin: 20px;
}
.hotsale .items .product3 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product3 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product3 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product3 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product4 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product4 .container {
  margin: 20px;
}
.hotsale .items .product4 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product4 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product4 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product4 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product5 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product5 .container {
  margin: 20px;
}
.hotsale .items .product5 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 5.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product5 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product5 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product5 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product6 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product6 .container {
  margin: 20px;
}
.hotsale .items .product6 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 6.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product6 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product6 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product6 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product7 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product7 .container {
  margin: 20px;
}
.hotsale .items .product7 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 7.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product7 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product7 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product7 .container .info .icons {
  color: #f19caf;
}
.hotsale .items .product8 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.hotsale .items .product8 .container {
  margin: 20px;
}
.hotsale .items .product8 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/cosplay 8.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hotsale .items .product8 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.hotsale .items .product8 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.hotsale .items .product8 .container .info .icons {
  color: #f19caf;
}
.hotsale button {
  background-color: #f19caf;
  border: none;
  width: 170px;
  height: 45px;
  margin-top: 30px;
  color: white;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 500px;
}
.hotsale button:hover {
  background-color: white;
  color: #f19caf;
  border: solid 1px #f19caf;
}

.ad-sec {
  width: 100%;
  margin-top: 100px;
}
.ad-sec .ads {
  background-color: burlywood;
  height: 260px;
  background-image: url("../images/add2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ad-sec .ad2 {
  background-color: burlywood;
  height: 260px;
  background-image: url("../images/add.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.ad-sec .ad3 {
  background-color: burlywood;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-left: 600px;
  margin-top: -260px;
  background-image: url("../images/add3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.animegame .group {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.animegame .group .ani1 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  background-image: url("../images/spyspy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.animegame .group .ani2 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  background-image: url("../images/sailormoon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.animegame .group .ani3 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  background-image: url("../images/NarutoSageMode.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.animegame .group .ani4 {
  width: 250px;
  height: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  background-image: url("../images/spyspy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.animegame .group .gam1 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  background-image: url("../images/mario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.animegame .group .gam2 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  background-image: url("../images/leage-of-legends.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.animegame .group .gam3 {
  width: 250px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  background-image: url("../images/gensh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.animegame .group .gam4 {
  width: 250px;
  height: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
  background-image: url("../images/zelda.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.animegame button {
  background-color: #f19caf;
  border: none;
  width: 170px;
  height: 45px;
  margin-top: 30px;
  color: white;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 500px;
}
.animegame button:hover {
  background-color: white;
  color: #f19caf;
  border: solid 1px #f19caf;
}

.wig .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.wig .items .product1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.wig .items .product2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.wig .items .product3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.wig .items .product4:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.wig .items .product5:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.wig .items .product6:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.wig .items .product7:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.wig .items .product8:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.wig .items .product1 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.wig .items .product1 .container {
  margin: 20px;
}
.wig .items .product1 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/wig 1.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
.wig .items .product1 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.wig .items .product1 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.wig .items .product1 .container .info .icons {
  color: #f19caf;
}
.wig .items .product2 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.wig .items .product2 .container {
  margin: 20px;
}
.wig .items .product2 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/wig 2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.wig .items .product2 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.wig .items .product2 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.wig .items .product2 .container .info .icons {
  color: #f19caf;
}
.wig .items .product3 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.wig .items .product3 .container {
  margin: 20px;
}
.wig .items .product3 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/wig 3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.wig .items .product3 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.wig .items .product3 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.wig .items .product3 .container .info .icons {
  color: #f19caf;
}
.wig .items .product4 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.wig .items .product4 .container {
  margin: 20px;
}
.wig .items .product4 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/wig 4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.wig .items .product4 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.wig .items .product4 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.wig .items .product4 .container .info .icons {
  color: #f19caf;
}
.wig .items .product5 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.wig .items .product5 .container {
  margin: 20px;
}
.wig .items .product5 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/wig 5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.wig .items .product5 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.wig .items .product5 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.wig .items .product5 .container .info .icons {
  color: #f19caf;
}
.wig .items .product6 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.wig .items .product6 .container {
  margin: 20px;
}
.wig .items .product6 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/wig 6.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.wig .items .product6 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.wig .items .product6 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.wig .items .product6 .container .info .icons {
  color: #f19caf;
}
.wig .items .product7 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.wig .items .product7 .container {
  margin: 20px;
}
.wig .items .product7 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/wig 7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.wig .items .product7 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.wig .items .product7 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.wig .items .product7 .container .info .icons {
  color: #f19caf;
}
.wig .items .product8 {
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s all ease-in-out;
  transition: -webkit-transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out;
  transition: transform 0.3s all ease-in-out, -webkit-transform 0.3s all ease-in-out;
}
.wig .items .product8 .container {
  margin: 20px;
}
.wig .items .product8 .container .img {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("../images/wig 8.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.wig .items .product8 .container .info h4 {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 3px;
}
.wig .items .product8 .container .info p {
  color: #f19caf;
  font-size: 15px;
  margin-bottom: 3px;
}
.wig .items .product8 .container .info .icons {
  color: #f19caf;
}
.wig button {
  background-color: #f19caf;
  border: none;
  width: 170px;
  height: 45px;
  margin-top: 30px;
  color: white;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 500px;
}
.wig button:hover {
  background-color: white;
  color: #f19caf;
  border: solid 1px #f19caf;
}
/*# sourceMappingURL=styles.css.map */